<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Test Benches</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/facility-overview.css">
    <script src="/js/admin/admin-testbenches.js" defer></script>
</head>
<body>

<header th:insert="~{fragments/header :: header('Test Benches')}" class="mb-4"></header>

<input type="hidden" id="facilityId" th:value="${facilityId}" />

<main class="container mt-5 glass-box">
    <h2 class="text-center mb-4">Test Benches in Facility</h2>
    <div id="testBenchList" class="d-flex flex-wrap justify-content-center gap-4"></div>
</main>

<footer th:insert="~{fragments/footer :: footer}" class="mt-4">
    <span>© 2025 eVALeBike</span>
</footer>

</body>
</html>

