<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" href="/css/headerStyle.css">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <title>Footer</title>
</head>
<body>

<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/">SwiftBy</a>
        </div>

        <div class="footer-links">
            <div>
                <h4>Company</h4>
                <ul>
                    <li><a href="/">How It Works</a></li>
                    <li><a href="/">Pricing</a></li>
                    <li><a href="/">Docs</a></li>
                </ul>
            </div>
            <div>
                <h4>About</h4>
                <ul>
                    <li><a href="/">Terms & Conditions</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>

        <div class="social-media">
            <a href="/"><i class="bi bi-facebook"></i></a>
            <a href="/"><i class="bi bi-twitter"></i></a>
            <a href="/"><i class="bi bi-linkedin"></i></a>
        </div>

        <div class="copyright">
            <p>&copy; 2025 SwiftBy. All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>
