
<!--TODO:Fix up the whole header file lmao-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <title>header</title>
</head>
<body>
<header th:fragment="header(currentPage)" class="navbar navbar-expand-lg py-3 flex-row" style="background-color: #344a57;">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-light fw-bold" th:href="@{/}">
            <i class="bi bi-house"></i>
            <span>eVALeBike</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" th:href="@{/workInProgress}" sec:authorize="!isAuthenticated()">My Bikes</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" th:href="@{/workInProgress}" sec:authorize="!isAuthenticated()">My Bike Reports</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" th:href="@{/technician/dashboard}" sec:authorize="isAuthenticated()">Dashboard</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" th:href="@{/workInProgress}" sec:authorize="isAuthenticated()">Facility overview</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-light" th:href="@{/workInProgress}" sec:authorize="isAuthenticated()">Customers</a>
                </li>
            </ul>
            <div class="d-flex">
                <span class="navbar-text text-light me-3" sec:authorize="isAuthenticated()">
                    Welcome, <span sec:authentication="name"></span>!
                </span>
                <form class="d-inline" th:action="@{/logout}" th:method="POST" sec:authorize="isAuthenticated()">
                    <button type="submit" class="btn btn-warning">Logout</button>
                </form>
                <a class="btn btn-light ms-2" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>
