<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Available Bike Models</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="/css/all-bikes.css">
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<header th:insert="~{fragments/header :: header('Bikes')}" class="mb-4"></header>
<main class="m-0 p-0">
  <div class="container mb-4 mt-5 ">
    <h2 class="facility-header text-center mb-4">Available Bike Models</h2>

    <div id="bikeList" class="d-flex flex-wrap justify-content-center gap-4  ">
      <div class="card" th:each="model : ${models}">
        <h4 class="text-warning" th:text="${model.brand} + ' ' + ${model.type}">Brand Type</h4>
        <p class="text-warning"><strong>Motor:</strong> <span th:text="${model.motor.getGearType()}"></span></p>
        <p><strong>Engine:</strong> <span th:text="${model.motor.getEngineType()}"></span></p>
        <p><strong>Power:</strong> <span th:text="${model.motor.getMaxPower()} + ' HP'"></span></p>
        <p><strong>Torque:</strong> <span th:text="${model.motor.getTorque()}"></span> Nm</p>
      </div>
    </div>
  </div>
</main>

<footer th:insert="~{fragments/footer :: footer}" class="p-0 mt-4 ">
  <span>© 2025 eVALeBike</span>
</footer>
</body>
</html>
