:root {
    --primary-color: #344a57;
    --secondary-color: #5c7285;
    --accent-color: #aed2e3;
    --light-bg-color: #f5f7ff;
    --cta-color: #fada7a;
}
.navbar {
    background-color: var(--primary-color);
}

.navbar a {
    color: #ffffff;
}

.navbar a:hover {
    color: var(--cta-color);
}

.btn {
    background-color: var(--cta-color);
    color: #344a57;
    border: none;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.nav-link.active {
    color: var(--cta-color);
}