html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(135deg, #344a57, #5c7285, #aed2e3);
    font-family: 'Roboto Mono', monospace;
    color: #f5f7ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

.content {
    flex: 1
}