<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Bikes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/all-bikeModels.css">
    <script src="/js/all-bikes.js" defer></script>

</head>
<body>

<header th:insert="~{fragments/header :: header('Bikes')}" class="mb-4"></header>

<input type="hidden" id="facilityId" th:value="${facilityId}"/>
<input type="hidden" id="bikeOwnerId" th:value="${bikeOwnerId}">

<main class="m-0 p-0">
    <div class="container mb-4 mt-5 glassmorphism">
        <h2 class="facility-header text-center mb-4">All Bikes in Facility</h2>

        <div id="bikeList" class="d-flex flex-wrap justify-content-center gap-4"></div>
    </div>
</main>


<footer th:insert="~{fragments/footer :: footer}" class="p-0 mt-4 ">
    <span>© 2025 eVALeBike</span>
</footer>

</body>
</html>