<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Bikes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/all-bikes.css">
    <script src="/js/all-bikes.js" defer></script>
</head>
<body>

<header th:insert="~{fragments/header :: header('Bikes')}" class="mb-4"></header>

<input type="hidden" id="facilityId" th:value="${facilityId}"/>

<div class="container mt-5 glassmorphism">
    <h2 class="facility-header text-center mb-4">All Bikes in Facility</h2>

    <div id="bikeList" class="d-flex flex-wrap justify-content-center gap-4"></div>
</div>

<footer th:insert="~{fragments/footer :: footer}" class="mt-auto fixed-bottom  text-white text-center py-2">
    <span>© 2025 eVALeBike</span>
</footer>

</body>
</html>