<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Set Bearing Thresholds</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/bicycle.svg">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link href="/css/bearing-thresholds.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

    <script type="module" src="/js/bearingThresholdForm.js"></script>
</head>
<body>

<header th:insert="~{fragments/header :: header(${currentPage})}"></header>

<div class="container py-5">
    <h1>Set Bearing Thresholds</h1>
    <div class="glass-card">
        <form id="thresholdForm">
            <div class="mb-3">
                <label for="horizontalThreshold" class="form-label">Horizontal Threshold Max</label>
                <input type="number" step="any" class="form-control" id="horizontalThreshold" name="horizontalThreshold"
                       required>
            </div>
            <div class="mb-3">
                <label for="verticalThreshold" class="form-label">Vertical Threshold Max</label>
                <input type="number" step="any" class="form-control" id="verticalThreshold" name="verticalThreshold"
                       required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save Thresholds</button>
        </form>
    </div>
</div>

<!-- Footer Fragment -->
<footer th:insert="~{fragments/footer :: footer}" class="mt-5"></footer>

</body>
</html>
