<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <script src="/js/upload.js" defer></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form onsubmit="uploadFile(event)">
    <input type="file" id="csv" name="csv">
    <input type="submit" id="upload-button">
</form>

</body>
</html>
