<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<header th:replace="~{fragments/header :: header(${currentPage})}"></header>
<main class="container">
    <h1>Login</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item active title" aria-current="page">Login</li>
        </ol>
    </nav>

    <form th:action="@{/login}" method="POST">
        <div class="pb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" class="form-control" type="text">
        </div>
        <div class="pb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" class="form-control" type="password">
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
</main>
<div th:if="${param.error}" class="alert alert-danger">
    Invalid username or password. Please try again.
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>