<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - BikeTrust</title>
    <link rel="icon" href="/images/bicycle.svg">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header th:insert="~{fragments/header :: header(${currentPage})}"></header>

<main>
    <div class="login-container glassmorphism">

        <form th:action="@{/login}" method="POST">
            <div class="pb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" class="form-control" type="text" required>
            </div>
            <div class="pb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" name="password" class="form-control" type="password" required>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Log in</button>
        </form>

        <div th:if="${param.error}" class="alert alert-danger">
            Invalid username or password. Please try again.
        </div>

        <a th:href="@{/registration}" class="mt-2 mb-2">
            No login yet? Register a new account
        </a>
    </div>
</main>

<footer th:insert="~{fragments/footer :: footer}"></footer>

</body>
</html>
