<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Set Your Password</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
<div class="glassmorphism p-4 text-center">
    <h1 class="mb-3">Set Your Password</h1>
    <form action="/api/auth/set-password" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <input type="password" name="password" class="form-control fancy-input my-2" placeholder="Enter new password" required />
        <button type="submit" class="btn glowing-button w-100">Set Password</button>
    </form>
</div>
</body>
</html>
