<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work in progress</title>
    <link rel="icon" href="/images/bicycle.svg">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

<div th:insert="~{fragments/header :: header(${currentPage})}"></div>

<main class="container d-flex flex-column justify-content-center align-items-center flex-grow-1 text-center">
    <i class="bi bi-cone-striped display-1 text-warning"></i>
    <h1 class="mt-3">Work in Progress</h1>
    <p class="lead">We're working hard to bring you these pages. Sign up for the newsletter to get notified!</p>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>
