<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" href="/css/technician/technician-reports.css">
    <script defer src="/js/technician/reports.js"></script>
    <meta charset="UTF-8">
    <title>reports</title>
</head>
<body>
<div class="bg-light">
    <div class="container py-5">
        <div class="search-container">
            <div class="search-wrapper">
                <div class="search-header">
                    <div class="search-input-group">
                        <input type="text" class="search-input form-control"
                               placeholder="Search Reports on Vendor, Type, Number...">
                        <i class="bi bi-search-heart"></i>
                    </div>
                </div>
                <div class="category-filters">
                    <div class="filter-chip active">
                        <i class="bi bi-globe"></i> All
                    </div>
                    <div class="filter-chip">
                        <i class="bi bi-shop-window"></i> Vendors
                    </div>
                    <div class="filter-chip">
                        <i class="bi bi-lightning-charge"></i> Types
                    </div>
                    <div class="filter-chip">
                        <i class="bi bi-hash"></i> Chassis Number
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row" id="bike-cards-container">
    </div>
</div>

</body>
</html>