<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" href="/css/technician/technician-tests.css">
    <script defer src="/js/technician/tests.js"></script>
    <meta charset="UTF-8">
    <title>tests</title>
</head>
<body>

<div class="container-fluid">
    <div class="row mb-4 text-center">
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark w-100">Start New Test</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-dark w-100">4/6 Tests Active</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success w-100">Bench Status: Optimal</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-success w-100">fr fr lorem ipsum</button>
        </div>
    </div>


    <div class="container py-2">
        <div class="search-container">
            <div class="search-wrapper">
                <div class="search-header">
                    <div class="search-input-group">
                        <input type="text" class="search-input form-control"
                               placeholder="Search by testbench, customer or bike">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row" id="bike-test-container">
    </div>
</div>

</body>
</html>